{% extends 'base.html.twig' %}
{% block mystyle %}
 <style>
    .btn{
    background-color:green;
    color:white;
    font-weight: bold;

    }
 </style>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="ui-block responsive-flex">

                    <div class="ui-block-title" style="text-align: center;">
                        <h1>Ajouter une question</h1>
                    </div>
                    <div class="col-12" style="text-align: left;margin: 15px;">
                        {{ form(add_question_form, {'attr': {'novalidate': 'novalidate'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}