{% extends 'base.html.twig' %}

{% block mystyle %}
    <style>
        .btn{
            background-color:green;
            color:white;
            font-weight: bold;

        }
    </style>
{% endblock %}
{% block body %}

    <div class="container">
        <h1>Modifier ma réponse</h1>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block responsive-flex">

                    <div class="ui-block-title">

                    </div>
                    <div class="col-12" style="    text-align: left;margin: 15px;">
                        {{ form(edit_answer_form, {'attr': {'novalidate': 'novalidate'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}