{% extends "::base.html.twig" %}

{% block title %}AppBundle:ecurity:authentification{% endblock %}

{% block body %}
<h1>Welcome to pageeee</h1><br><h1>Welcome to pageeee</h1><br>
    <h1>Welcome to pageeee</h1><br>
    <h1>Welcome to pageeee</h1><br>
    <h1>Welcome to pageeee</h1><br>

{% endblock %}
