{% extends "::base.html.twig" %}

{% block title %}AppBundle:ecurity:redirect{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
<div class="col-md-4">
lll
</div>
<div class="col-md-3">llll</div>
<div class="col-md-5">kk</div><div class="col-md-4">lllmm</div>
</div>
</div>
{% endblock %}
